* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.game-wrapper {
    margin: 110px auto;
    width: 95%;
    height: auto;
    border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.img-container {
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    display: flex;
    width: 100px;
    height: 100px;
}

    .img-container img {
        width: 80%;
        /*height: 90px;*/
        border-radius: 5px;
        border: 1px solid black;
        /*justify-content: center;
        align-items: center;*/
    }