* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.game-wrapper {
    margin: 110px auto;
    width: 95%;
    height: calc(100% - 110px);
    /*border: 1px solid green;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}

.img-container {
    justify-content: center;
    align-items: center;
    /*border: 1px solid blue;*/
    display: flex;
    width: 210px;
    height: 210px;
}

    .image {
        height: 200px;
        width: 200px;
        /*height: 90px;*/
        border-radius: 5px;
        border: 1px solid black;
        /*justify-content: center;
        align-items: center;*/
    }