* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.game-wrapper {
    margin: 110px auto;
    max-width: 90%;
    /*height: auto;*/
    height: calc(100% - 110px);
    border: 1px solid green;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-align-content: center;
    align-content: center;
    overflow: auto;
}

    .image {
        height: 100px;
        width: 100px;
        border-radius: 5px;
        border: 1px solid black;
        margin: 2px;

    }